<!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container">
            <a class="navbar-brand" href="{% url 'scheduled_events' %}">Scheduler</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if events or output or event or user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_event' %}">Add Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'scheduled_events' %}">List Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'analytics' %}">Event Analytics</a>
                    </li>
                     <li class="nav-item">
                    <a class="nav-link" href="#">Logged in as {{ user }} </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>


                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>


</body>
